form {
  border: 2px solid $brand;
  padding: 20px;

  .fancy {
    position: relative;
    margin-top: 10px;
    label {
      position: absolute;
      top: 50%;
      left: 0;
      transition: all 0.2s ease;
      transform: translateY(-50%);
      font-size: 14px;
    }
    input {
      &:focus, &.ng-not-empty {
        + label {
          font-size: 10px;
          top: -10px;
          transform: translateY(0);
          color: $brand;
        }
      }
    }
  }

  .group {
    margin-bottom: 20px;
  }

  input {
    &[type="text"], &[type="email"], &[type="password"] {
      font-size: 14px;
      border: 0;
      border-bottom: 1px solid $grey;
      margin-bottom: 1px;
      padding: 8px 0;
      width: 100%;
      &:focus {
        border-bottom: 2px solid $brand;
        outline: none;
        margin-bottom: 0;
      }
    }
    &[type="date"],&[type="time"] {
      border: 0;
      border-bottom: 1px solid $grey;
      letter-spacing: 1px;
      font-family: 'Work Sans', sans-serif;
      padding: 8px 0;
      text-transform: uppercase;
      margin-bottom: 1px;
      &:focus {
        border-bottom: 2px solid $brand;
        outline: none;
        margin-bottom: 0;
      }
    }
  }

  button {
    @extend .button;
    width: 100%;
    &:not(:last-of-type) {
      margin-bottom: 10px;
    }
  }
}
