@import 'vendor/reset.scss';
@import 'vendor/bootstrap/bootstrap-grid.scss';
@import url('https://fonts.googleapis.com/css?family=Work+Sans:300,400,600');

// Variables
$grey: #2d2d2d;
$brand: #6a65e7;

// Styles
body {
  font-family: 'Work Sans', sans-serif;
  font-weight: 300;
  color: $grey;
}

* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: $brand;
}

strong {
  font-weight: bold;
}

p {
  margin: 0 0 10px;
  &.small {
    font-size: 14px;
  }
}

.title-styles {
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.is-1 {
  font-size: 22px;
  @extend .title-styles;
  margin-bottom: 10px;
}

.is-2 {
  font-size: 18px;
  @extend .title-styles;
  margin-bottom: 10px;
}

.is-3 {
  font-size: 16px;
  @extend .title-styles;
  margin-bottom: 10px;
}

.gradient {
  background: #4776E6;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #8E54E9, #4776E6);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #8E54E9, #4776E6); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

main {
  margin: 30px 0;
}

header {
  @extend .gradient;
  nav {
    ul {
      display: flex;
      justify-content: space-between;
      align-items: center;
      height: 50px;
      li {
        a {
          color: white;
        }
        &.burger {
          color: white;
          display: none;
          cursor: pointer;
        }
        &.logo {
          font-weight: 600;
          text-transform: uppercase;
          letter-spacing: 2px;
          font-size: 18px;
          .icon-planet {
            position: relative;
            padding-left: 30px;
            &:before {
              position: absolute;
              left: 0;
              top: -4px;
              font-size: 25px;
            }
          }
        }
      }
      .dropdown {
        display: flex;
        li {
          font-size: 14px;
          &:not(:first-of-type) {
            margin-left: 15px;
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 575px) {
  header {
    &.open {
      position: fixed;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      z-index: 1;
      nav {
        ul {
          .dropdown {
            display: flex;
            position: fixed;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            flex-direction: column;
            text-align: center;
            li {
              margin: 10px 0;
              font-size: 20px;
              a {
                text-decoration: underline;
              }
            }
          }
        }
      }
    }
    nav {
      ul {
        li {
          &.burger {
            display: block;
          }
        }
        .dropdown {
          display: none;
        }
      }
    }
  }
}

@import 'partials/buttons';
@import 'partials/forms';
@import 'partials/errors';
@import 'partials/fonts';

.event {
  border: 1px solid $brand;
  padding: 20px;
  p {
    &:last-of-type {
      margin: 0;
    }
  }
}

.locations {
  .location {
    background-color: lighten($brand, 30%);
    padding: 15px 35px 15px 10px;
    border: 1px solid lighten($brand, 20%);
    position: relative;
    display: flex;
    align-items: flex-start;
    cursor: pointer;
    &.selected {
      border: 1px solid $brand;
      background-color: lighten($brand, 25%);
    }
    &__index {
      background-color: white;
      flex: 0 0 30px;
      height: 30px;
      line-height: 30px;
      text-align: center;
      margin-right: 10px;
      border: 1px solid $grey;
      font-weight: bold;
    }
    .delete {
      position: absolute;
      top: 10px;
      right: 10px;
      @extend .icon-delete;
      display: none;
      height: 20px;
      width: 20px;
      &:before {
        color: $grey;
        transition: color 0.2s ease;
      }
      &:hover {
        &:before {
          color: lighten($grey, 15%);
        }
      }
    }
    &:hover {
      .delete {
        display: block;
      }
    }
    &:not(:last-of-type) {
      margin-bottom: 5px;
    }
    p {
      &:last-of-type {
        margin: 0;
      }
    }
  }
}

.map {
  padding-top: 100%;
}

.gap {
  margin-bottom: 20px;
}

.row:not(:last-of-type) {
  margin-bottom: 20px;
}

@media only screen and (max-width: 767px) {
  [class*="col-md"] {
    margin-bottom: 20px;
  }

  .row:not(:last-of-type) {
    margin-bottom: 0;
  }
}
